# Ignore all CSV, PNG, IPython notebooks, databases, and CatBoost binary models
*.csv
*.png
*.ipynb
*.db
*.cbm

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore folders related to drafts and results
flight_delay/
drafts/
mycoding/drafts/
mycoding/catboost_info/
mycoding/mlruns/
mycoding/draft_results/
mycoding/logs/
mycoding/sampled_rows/
my_app/drafts/
mlruns/
mycoding/preprocess_time_cols.sql
